body {
  font: normal normal normal 14px/20px 'Microsoft YaHei', Arial, sans-serif;
  color: #bababa;
  margin: 0;
  padding: 0;
  background-color: #2b2b2b;
}
#content {
  /*代码样式*/
  /*符号*/
  /*关键字*/
  /*函数名*/
  /*注释*/
  /*字符串*/
}
#content pre {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-size: 14px;
  line-height: 1.4;
  color: #bababa;
  background: #222;
  border-radius: 5px;
}
#content code {
  color: #bababa;
  font-size: 14px;
  font-weight: normal;
  font-family: Consolas, "Courier New", Courier, FreeMono, monospace;
  background: #222;
  border-radius: 2px;
}
#content p {
  margin: 10px 0;
}
#content strong {
  font-size: 14px;
  display: block;
  margin-top: 20px;
  font-weight: bold;
}
#content p code,
#content li > code,
#content h2 > code,
#content h3 > code,
#content table code {
  font-size: inherit;
  padding-left: 3px;
  padding-right: 3px;
  color: #af6a30;
  background: #222;
}
#content h2 {
  margin-top: 50px;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 0;
  font-size: 24px;
  text-align: left;
  border-top: 2px solid #666;
  counter-increment: section;
  line-height: 34px;
}
#content h3 {
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 0;
  text-align: left;
  border-top: 1px dotted #777;
  line-height: 28px;
}
#content h2:hover,
#content h3:hover {
  color: #4682BE;
}
#content h4 {
  margin: 15px 0;
  font-size: 16px;
}
#content img {
  max-width: 100%;
  display: block;
  border-radius: 5px;
}
#content ul {
  display: block;
  padding: 0 0 0 20px;
}
#content ol {
  display: block;
  padding: 0 0 0 20px;
}
#content ul li,
#content ol li {
  text-indent: -5px;
  font-size: 14px;
}
#content ul li.link,
#content ol li.link {
  color: #2980b9;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
#content a:link,
#content a:visited {
  color: #4682BE;
  text-decoration: none;
}
#content .punctuation {
  color: #4682BE;
}
#content .keyword {
  color: #cc7832;
  font-weight: bold;
}
#content .function {
  color: #ffc66d;
}
#content .comment {
  color: #808080;
}
#content .string {
  color: #6a8759;
}
#content .operator {
  color: #9876aa;
}
table {
  background-color: #333;
  margin-top: 10px;
}
table th {
  border-bottom: 2px solid #666;
}
table tr {
  border-bottom: 1px solid #666;
}
table tr:last-child {
  border-bottom: none;
}
table td,
table th {
  padding: 5px 10px;
}
@media (min-width: 600px) {
  #header {
    display: none;
  }
  /*左侧侧边栏*/
  #sidebar {
    width: 310px;
    position: fixed;
    height: 100%;
    padding: 0 20px 50px 20px;
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow: -moz-scrollbars-vertical;
    border-right: 1px solid #222;
    background-color: #3c3f41;
    box-sizing: border-box;
  }
  #sidebar h2 {
    font-size: 18px;
  }
  #sidebar a:visited,
  #sidebar a:link {
    color: #4682BE;
    text-decoration: none;
  }
  #sidebar ol {
    margin: 0 0 0 10px;
    padding: 0;
  }
  #sidebar ol li {
    margin: 2px 0;
    font-size: 14px;
    padding: 0;
  }
  #sidebar p {
    padding: 0;
    margin: 5px 0 0 0;
  }
  #sidebar::-webkit-scrollbar {
    width: 0;
  }
  #content {
    padding-top: 10px;
    padding-bottom: 150px;
    counter-reset: section;
    width: 650px;
    padding-left: 330px;
    margin-left: 0;
    margin-right: 0;
  }
  .content-toc {
    position: fixed;
    left: 1020px;
    padding: 15px;
    list-style: none;
    margin: 0;
    height: 100%;
    top: 0;
  }
  .content-toc li {
    padding: 2px 0;
  }
  .content-toc a {
    color: #4682BE;
    text-decoration: none;
    font-size: 14px;
  }
  .content-toc .toc-h3 {
    padding-left: 20px;
    font-weight: normal;
    font-size: 12px;
  }
  .content-toc .toc-h3 a {
    color: #4682BE;
  }
  .content-toc .toc-h3:before {
    display: none;
  }
  #back_to_top {
    position: fixed;
    left: 1050px;
    bottom: 20px;
    cursor: pointer;
  }
  .backLink {
    position: fixed;
    left: 1050px;
    bottom: 50px;
  }
  .backLink a {
    color: inherit;
    text-decoration: none;
    display: block;
  }
}
@media (max-width: 599px) {
  body {
    padding-top: 41px;
  }
  #header {
    position: fixed;
    height: 40px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #3c3f41;
    border-bottom: 1px solid #222;
  }
  #header a {
    color: #bababa;
    text-decoration: none;
    position: absolute;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    top: 0;
    font-size: 16px;
  }
  #header #index {
    left: 0;
  }
  #header #nav {
    right: 0;
  }
  /*左侧侧边栏*/
  #sidebar {
    width: 65%;
    position: fixed;
    height: 100%;
    padding: 20px;
    top: 0;
    left: -65%;
    overflow-y: auto;
    overflow: -moz-scrollbars-vertical;
    border-right: 1px solid #222;
    background-color: #3c3f41;
    box-sizing: border-box;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    -ms-transition: ease-out 0.4s;
    -o-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }
  #sidebar h2 {
    font-size: 16px;
  }
  #sidebar a:visited,
  #sidebar a:link {
    color: #4682BE;
    text-decoration: none;
  }
  #sidebar ol {
    margin: 0 0 0 10px;
    padding: 0;
  }
  #sidebar ol li {
    font-size: 14px;
    padding: 10px 0;
    line-height: 20px;
    border-bottom: 1px solid #434343;
  }
  #content {
    padding: 10px 10px 50px 10px;
    counter-reset: section;
    margin: 0;
  }
  .content-toc {
    width: 65%;
    position: fixed;
    height: 100%;
    padding: 20px;
    top: 0;
    right: -65%;
    overflow-y: auto;
    overflow: -moz-scrollbars-vertical;
    border-left: 1px solid #222;
    background-color: #3c3f41;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    -ms-transition: ease-out 0.4s;
    -o-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }
  .content-toc li {
    font-size: 14px;
    padding: 10px 0;
    line-height: 20px;
    border-bottom: 1px solid #434343;
  }
  .content-toc a {
    color: #4682BE;
    text-decoration: none;
    font-size: 14px;
  }
  .content-toc .toc-h3 {
    padding-left: 20px;
    font-weight: normal;
    font-size: 12px;
  }
  .content-toc .toc-h3 a {
    color: #4682BE;
  }
  .content-toc .toc-h3:before {
    display: none;
  }
  #back_to_top {
    display: none !important;
  }
  .backLink {
    position: fixed;
    bottom: 30px;
    right: 20px;
  }
  .backLink a {
    width: 50px;
    height: 50px;
    background-color: rgba(50, 50, 50, 0.5);
    display: block;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    box-shadow: 3px 3px 10px 0 #000;
    margin-bottom: 10px;
    color: #bababa;
    text-decoration: none;
    box-sizing: border-box;
  }
}
.warning {
  border-left: 5px solid #f6b73d;
  padding: 5px 10px;
  background-color: rgba(246, 183, 61, 0.1);
}
