body {
  background-color: #f3f3f3;
  font: normal normal normal 14px/20px 'Microsoft YaHei', Arial, sans-serif;
  color: #333;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
#container {
  padding: 30px 0;
  width: 1200px;
  margin: 0 auto;
}
#container h1 {
  font-size: 20px;
  color: #999;
  line-height: 30px;
  margin: 20px 30px;
  padding: 0;
}
#container .pageDesc {
  margin: 20px 30px;
}
#container .colCon {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
#container .colCon:after {
  display: block;
  content: " ";
  clear: both;
}
#container .colCon .col {
  box-sizing: border-box;
  padding: 0 10px;
  flex-grow: 1;
}
#container .colCon .col .li {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(7, 17, 27, 0.1);
  border-radius: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
  -ms-transition: ease-out 0.5s;
  -o-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
}
#container .colCon .col .li .noteHeader {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: #fff;
}
#container .colCon .col .li .desc {
  padding: 15px 20px 0 20px;
}
#container .colCon .col .li ul {
  padding: 10px 20px;
}
#container .colCon .col .li li {
  color: #999;
  margin-bottom: 5px;
}
#container .colCon .col .li .itemName {
  color: #0fa4ff;
}
#container .colCon .col .li .itemDesc {
  font-size: 12px;
  line-height: 16px;
  color: #999;
}
#container .colCon .col .li:hover {
  box-shadow: 0 8px 16px 0 rgba(7, 17, 27, 0.2);
}
#container .colCon .col .link {
  color: #0fa4ff;
}
.orange {
  background: linear-gradient(270deg, rgba(255, 150, 0, 0.7), #ff9600);
}
.cyan {
  background: linear-gradient(270deg, rgba(0, 200, 200, 0.7), #00c8c8);
}
.blue {
  background: linear-gradient(270deg, rgba(75, 150, 220, 0.7), #4b96dc);
}
.red {
  background: linear-gradient(270deg, rgba(255, 115, 155, 0.7), #ff739b);
}
.green {
  background: linear-gradient(270deg, rgba(0, 185, 90, 0.7), #00b95a);
}
.purple {
  background: linear-gradient(270deg, rgba(210, 115, 230, 0.7), #d273e6);
}
.backLink {
  position: fixed;
  bottom: 30px;
  right: 50px;
}
.backLink a {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  display: block;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  box-shadow: 3px 3px 10px 0 #ccc;
  margin-bottom: 10px;
  color: #4b96dc;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
  -ms-transition: ease-out 0.5s;
  -o-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
}
.backLink a:hover {
  box-shadow: 3px 3px 10px 0 #999;
}
